.container{
    width: 70%;
    margin: auto;
   text-align: center;
}
.dice{
   text-align: center;
   display: inline-block;
}
body{
    background-color: #393E46;
}
h1{
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    margin: 30px;
    font-size: 8rem;
}
img{
    width: 80%;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}